<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] [%X{requestId:-}] [%X{accountId:-}] %-5level %logger{36} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- dev / default profile -->
    <springProfile name="default | dev">
        <logger name="com.jokahobby" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!-- prod profile -->
    <springProfile name="prod">
        <logger name="com.jokahobby" level="INFO"/>
        <root level="WARN">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!-- test profile -->
    <springProfile name="test">
        <logger name="com.jokahobby" level="WARN"/>
        <root level="WARN">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

</configuration>
