<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>
<body>
    <nav th:replace="~{fragments.html :: main-nav}"></nav>
    <div th:replace="~{fragments.html :: hobby-banner}"></div>
    <div class="container">
        <div th:replace="~{fragments.html :: hobby-info}"></div>
        <div th:replace="~{fragments.html :: hobby-menu(hobbyMenu='settings')}"></div>
        <div class="row mt-3 justify-content-center">
            <div class="col-2">
                <div th:replace="~{fragments.html :: hobby-settings-menu(currentMenu='description')}"></div>
            </div>
            <div class="col-8">
                <div th:replace="~{fragments.html :: message}"></div>
                <form class="needs-validation" th:action="@{'/hobby/' + ${hobby.getPath()} + '/settings/description'}"
                      th:object="${hobbyDescriptionForm}" method="post" novalidate>
                    <div class="form-group">
                        <label for="shortDescription">Brief Introduction</label>
                        <textarea id="shortDescription" type="textarea" th:field="*{shortDescription}" class="form-control"
                                  placeholder="Briefly introduce your hobby." aria-describedby="shortDescriptionHelp" required maxlength="150">
                        </textarea>
                        <small id="shortDescriptionHelp" class="form-text text-muted">
                            Please introduce your hobby briefly within 150 characters.
                        </small>
                        <small class="invalid-feedback">Please enter a brief introduction.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('shortDescription')}" th:errors="*{shortDescription}">ShortDescription Error</small>
                    </div>

                    <div class="form-group">
                        <label for="fullDescription">Detailed Description</label>
                        <textarea id="fullDescription" type="textarea" th:field="*{fullDescription}" class="form-control"
                                  placeholder="Describe your hobby in detail." aria-describedby="fullDescriptionHelp" required maxlength="500"></textarea>
                        <small id="fullDescriptionHelp" class="form-text text-muted">
                            Please provide detailed information about the hobby group and the hobby members you are recruiting within 500 characters.
                        </small>
                        <small class="invalid-feedback">Please enter a detailed description.</small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('fullDescription')}" th:errors="*{fullDescription}">FullDescription Error</small>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit"
                                aria-describedby="submitHelp">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <div th:replace="~{fragments.html :: footer}"></div>
    </div>
    <script th:replace="~{fragments.html :: tooltip}"></script>
    <script th:replace="~{fragments.html :: form-validation}"></script>
    <script th:replace="~{fragments.html :: editor-script}"></script>
</body>
</html>
