<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html::head"></head>
<body class="bg-light">
<nav th:replace="fragments.html::main-nav"></nav>

<div class="py-5 text-center" th:if="${error}">
    <p class="lead">JokaHobby Email Verification</p>
    <div class="alert alert-danger" role="alert">
        The email verification link is not valid.
    </div>
</div>

<div class="py-5 text-center" th:if="${error == null}">
    <p class="lead">JokaHobby Email Verification</p>
    <h2>
        Email verified successfully. Congratulations <span th:text="${nickname}">Chambit Oh</span>,
        you are our <span th:text="${numberOfUser} + (${numberOfUser} == '1' ? 'st' : (${numberOfUser} == '2' ? 'nd' : (${numberOfUser} == '3' ? 'rd' : 'th')))">10th</span> member!
    </h2>
    <small class="text-info">You can now log in with the email or nickname and password you used when signing up.</small>
</div>
<footer th:replace="fragments.html::footer"></footer>
</body>
</html>
