<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>
<body class="bg-light">
    <div th:replace="~{fragments.html :: main-nav}"></div>
    <div class="alert alert-warning" role="alert" th:if="${account != null && !account?.emailVerified}">
        To complete your JokaHobby registration, <a href="#" th:href="@{/check-email(email=${account.email})}" class="alert-link">verify your account email</a>.
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-2">
                <h5 class="font-weight-light">Interested Hobby Topics</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="tag: ${account.tags}">
                        <i class="fa fa-tag"></i> <span th:text="${tag.title}"></span>
                    </li>
                    <li class="list-group-item" th:if="${account.tags.size() == 0}">
                        Please register <a th:href="@{/settings/tags}" class="btn-text">interested Hobby topics</a>.
                    </li>
                </ul>
                <h5 class="mt-3 font-weight-light">Main Activity Areas</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" th:each="zone: ${account.zones}">
                        <i class="fa fa-globe"></i> <span th:text="${zone.getLocalNameOfCity()}">Zone</span>
                    </li>
                    <li class="list-group-item" th:if="${account.zones.size() == 0}">
                        Please register <a th:href="@{/settings/zones}" class="btn-text">main activity areas</a>.
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                <h5 th:if="${#lists.isEmpty(enrollmentList)}" class="font-weight-light">No meetings to attend.</h5>
                <h5 th:if="${!#lists.isEmpty(enrollmentList)}" class="font-weight-light">Meetings to Attend</h5>
                <div class="row row-cols-1 row-cols-md-2" th:if="${!#lists.isEmpty(enrollmentList)}">
                    <div class="col mb-4" th:each="enrollment: ${enrollmentList}">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${enrollment.event.title}">Event title</h5>
                                <h6 class="card-subtitle mb-2 text-muted" th:text="${enrollment.event.hobby.title}">hobby title</h6>
                                <p class="card-text">
                                <span>
                                    <i class="fa fa-calendar-o"></i>
                                    <span class="calendar" th:text="${enrollment.event.startDateTime}">Last updated 3 mins ago</span>
                                </span>
                                </p>
                                <a th:href="@{'/hobby/' + ${enrollment.event.hobby.path} + '/events/' + ${enrollment.event.id}}" class="card-link">View Meeting</a>
                                <a th:href="@{'/hobby/' + ${enrollment.event.hobby.path}}" class="card-link">View hobby</a>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="font-weight-light mt-3" th:if="${#lists.isEmpty(hobbyList)}">No related hobbies.</h5>
                <h5 class="font-weight-light mt-3" th:if="${!#lists.isEmpty(hobbyList)}">Hobbies of Interest in Your Main Areas</h5>
                <div class="row justify-content-center">
                    <div th:replace="~{fragments.html :: hobby-list (hobbyList=${hobbyList})}"></div>
                </div>
            </div>
            <div class="col-md-3">
                <h5 class="font-weight-light" th:if="${#lists.isEmpty(hobbyManagerOf)}">No hobbies being managed.</h5>
                <h5 class="font-weight-light" th:if="${!#lists.isEmpty(hobbyManagerOf)}">Hobbies You Manage</h5>
                <div class="list-group" th:if="${!#lists.isEmpty(hobbyManagerOf)}">
                    <a href="#" th:href="@{'/hobby/' + ${hobby.path}}" th:text="${hobby.title}"
                       class="list-group-item list-group-item-action" th:each="hobby: ${hobbyManagerOf}">
                        hobby title
                    </a>
                </div>

                <h5 class="font-weight-light mt-3" th:if="${#lists.isEmpty(hobbyMemberOf)}">No hobbies you're participating in.</h5>
                <h5 class="font-weight-light mt-3" th:if="${!#lists.isEmpty(hobbyMemberOf)}">Hobbies You're Participating In</h5>
                <div class="list-group" th:if="${!#lists.isEmpty(hobbyMemberOf)}">
                    <a href="#" th:href="@{'/hobby/' + ${hobby.path}}" th:text="${hobby.title}"
                       class="list-group-item list-group-item-action" th:each="hobby: ${hobbyManagerOf}">
                        hobby title
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments.html :: footer}"></div>
    <div th:replace="~{fragments.html :: date-time}"></div>
</body>
</html>
