<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>
<body class="bg-light">
    <nav th:replace="~{fragments.html :: main-nav}"></nav>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-2">
                <div th:replace="~{fragments.html :: settings-menu(currentMenu='notifications')}"></div>
            </div>
            <div class="col-8">
                <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                    <span th:text="${message}">Complete</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row">
                    <h2 class="col-12">Notification Settings</h2>
                </div>
                <div class="row mt-3" th:fragment="profile-form">
                    <form class="col-12" action="#" th:action="@{/settings/notifications}" th:object="${notifications}" method="post" novalidate>
                        <div class="alert alert-light" role="alert">
                            Set how you want to receive notifications <strong>when a hobby in 
                            <a href="#" th:href="@{/settings/locations}">your main activity area</a> and about 
                            <a href="#" th:href="@{/settings/keywords}">topics of interest</a> is created</strong>.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{hobbyCreatedByEmail}" class="custom-control-input" id="hobbyCreatedByEmail">
                                <label class="custom-control-label" for="hobbyCreatedByEmail">Receive by email</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{hobbyCreatedByWeb}" class="custom-control-input" id="hobbyCreatedByWeb">
                                <label class="custom-control-label" for="hobbyCreatedByWeb">Receive on web</label>
                            </div>
                        </div>
                        <div class="alert alert-light" role="alert">
                            Set how you want to receive notifications about <strong>hobby group application</strong> results.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{hobbyEnrollmentResultByEmail}" class="custom-control-input" id="hobbyEnrollmentResultByEmil">
                                <label class="custom-control-label" for="hobbyEnrollmentResultByEmil">Receive by email</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{hobbyEnrollmentResultByWeb}" class="custom-control-input" id="hobbyEnrollmentResultByWeb">
                                <label class="custom-control-label" for="hobbyEnrollmentResultByWeb">Receive on web</label>
                            </div>
                        </div>
                        <div class="alert alert-light" role="alert">
                            Set how you want to receive notifications about <strong>hobbies you are participating in</strong>.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{hobbyUpdatedByEmail}" class="custom-control-input" id="hobbyWatchByEmail">
                                <label class="custom-control-label" for="hobbyWatchByEmail">Receive by email</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{hobbyUpdatedByWeb}" class="custom-control-input" id="hobbyWatchByWeb">
                                <label class="custom-control-label" for="hobbyWatchByWeb">Receive on web</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments.html :: footer}"></div>
    </div>
</body>
</html>
