<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>
<body class="bg-light">
    <div th:replace="~{fragments.html :: main-nav}"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-2">
                <div th:replace="~{fragments.html :: settings-menu(currentMenu='tags')}"></div>
            </div>
            <div class="col-8">
                <div class="row">
                    <h2 class="col-12">Hobby Topics of Interest</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-info" role="alert">
                            Please enter hobby topics you're interested in. You can receive notifications when hobbies related to these topics are created. Enter tags separated by commas (,) or press Enter.
                        </div>
                        <div id="chamlist" th:text="${chamlist}" hidden></div>
                        <input id="tags" type="text" name="tags" th:value="${#strings.listJoin(tags, ',')}" class="tagify-outside" aria-describedby="tagHelp"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="~{fragments.html :: ajax-csrf-header}"></script>
    <script th:replace="fragments.html :: update-tags(baseUrl='/settings/tags')"></script>
</body>
</html>
