<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>
<body class="bg-light">
    <div th:replace="~{fragments.html :: main-nav}"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-2">
                <div th:replace="~{fragments.html :: settings-menu(currentMenu='zones')}"></div>
            </div>
            <div class="col-8">
                <div class="row">
                    <h2 class="col-12">Main Activity Regions</h2>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-info" role="alert">
                            Please register regions where you can mainly attend hobbies. You can receive notifications when hobbies are created in those regions.<br/>
                            You can only select regions that are registered in the system.
                        </div>
                        <div id="whitelist" th:text="${whitelist}" hidden></div>
                        <input id="zones" type="text" name="zones" th:value="${#strings.listJoin(zones, ',')}"
                               class="tagify-outside" aria-describedby="zoneHelp"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:replace="~{fragments.html :: ajax-csrf-header}"></script>
    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script type="application/javascript">
        $(function () {
            function zoneRequest(url, zoneName) {
                $.ajax({
                    dataType: "json",
                    autocomplete: {
                        enabled: true,
                        rightKey: true,
                    },
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "/settings/zones" + url,
                    data: JSON.stringify({'zoneName': zoneName})
                }).done(function (data, status) {
                    console.log("${data} and status is ${status}");
                });
            }

            function onAdd(e) {
                zoneRequest("/add", e.detail.data.value);
            }

            function onRemove(e) {
                zoneRequest("/remove", e.detail.data.value);
            }

            var zoneInput = document.querySelector("#zones");

            var tagify = new Tagify(zoneInput, {
                enforceWhitelist: true,
                whitelist: JSON.parse(document.querySelector("#whitelist").textContent),
                dropdown : {
                    enabled: 1, // suggest zones after a single character input
                } // map zones
            });

            tagify.on("add", onAdd);
            tagify.on("remove", onRemove);

            // add a class to Tagify's input element
            tagify.DOM.input.classList.add('form-control');
            // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
            tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
        });
    </script>
</body>
</html>
